body {
    font-family:Arial, Helvetica, sans-serif;
}
.logo {
    width:80px;
}
.logotext {
    display: inline-block;
    font-size: 50px;
}

.logo,
.logotext {
    vertical-align: middle;
}

main {
    background-color:rgb(204, 204, 204);
}

.box {
    padding:30px 0;
    border:1px dotted rgb(244, 237, 237);
    width:1000px;
    margin:0 auto 40px;
    border-radius:5px;
    background-color:white;
}

.textblue {
    display: inline-block;
    width: 8%;
    padding:5px;
    background-color:rgb(11, 166, 243);
    border-radius:5px;
    text-align:center;
    color:white;
}

.textsecond {
    display: inline-block;
    width: 10%;
    padding:5px;
    background-color:rgb(255, 255, 255);
    border-radius:5px;
    text-align:center;
    color:rgb(197, 194, 194);
    border-color: rgb(197,194,194);
    border:solid;
}

.editorial {
    display: inline-block;
    width: 8%;
    padding:5px;
    background-color:rgb(11, 166, 243);
    border-radius:12px;
    text-align:center;
    color:white; 
    font-size: small;
}

.Q1goals {
    display: inline-block;
    width: 8%;
    padding:5px;
    background-color:rgb(168, 67, 205);
    border-radius:12px;
    text-align:center;
    color:white; 
    font-size: small;
}

.Recruiting {
    display: inline-block;
    width: 8%;
    padding:5px;
    background-color:rgb(25, 166, 28);
    border-radius:12px;
    text-align:center;
    color:white; 
    font-size: small;
}

.Mobile {
    display: inline-block;
    width: 8%;
    padding:5px;
    background-color:rgb(217, 140, 25);
    border-radius:12px;
    text-align:center;
    color:white;
    font-size: small;
}

.Website {
    display: inline-block;
    width: 8%;
    padding:5px;
    background-color:rgb(229, 126, 215);
    border-radius:12px;
    text-align:center;
    color:white;
    font-size: small;
}

.Sales {
    display: inline-block;
    width: 8%;
    padding:5px;
    background-color:rgb(126, 234, 38);
    border-radius:12px;
    text-align:center;
    color:white;
    font-size: small;
    
}

\2713 {
    color:green;
}

\2717 {
    background-color:red;
}